.mediaViewInfo {
	--web-view-name: Web 1920 – 36;
	--web-view-id: Web_1920__36;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__36;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__36 {
	position: absolute;
	width: 1920px;
	height: 5592px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 36;
	--web-view-id: Web_1920__36;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Group_8861 {
	position: absolute;
	width: 1920px;
	height: 5592px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#pexels-diego-pontes-2897128 {
	position: absolute;
	width: 1349px;
	height: 497px;
	left: 571px;
	top: 120px;
	overflow: visible;
}
#pexels-diego-pontes-2897128_da {
	opacity: 0.55;
	fill: url(#pexels-diego-pontes-2897128_da);
}
.pexels-diego-pontes-2897128_da {
	position: absolute;
	overflow: visible;
	width: 1349px;
	height: 497px;
	left: 571px;
	top: 119px;
}
#rectangle-11 {
	fill: rgba(255,255,255,1);
}
.rectangle-11 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 891px;
	left: 0px;
	top: 616px;
}
#group-20 {
	position: absolute;
	width: 727px;
	height: 569px;
	left: 1013px;
	top: 777px;
	overflow: visible;
}
#rectangle-10 {
	position: absolute;
	width: 496px;
	height: 363px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#rectangle-10_c {
	position: absolute;
	width: 496px;
	height: 362px;
	left: 231px;
	top: 207px;
	overflow: visible;
}
#Delectus_volupt {
	left: 180px;
	top: 1021px;
	position: absolute;
	overflow: visible;
	width: 576px;
	height: 84px;
	line-height: 30px;
	margin-top: -4px;
	text-align: left;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(102,102,102,1);
}
#Est_perspiciati {
	left: 180px;
	top: 1142px;
	position: absolute;
	overflow: visible;
	width: 638px;
	height: 199px;
	line-height: 24px;
	margin-top: -3px;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(149,152,154,1);
}
#Build_A_Legacy {
	left: 708px;
	top: 205px;
	position: absolute;
	overflow: visible;
	width: 1073px;
	white-space: nowrap;
	text-align: center;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 121px;
	color: rgba(232,178,178,1);
}
#ID1D1D1D {
	left: 782px;
	top: 424px;
	position: absolute;
	overflow: visible;
	width: 999px;
	height: 113px;
	line-height: 28px;
	margin-top: -4px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#ID1D1D1D_da {
	left: 571px;
	top: 654px;
	position: absolute;
	overflow: visible;
	width: 1299px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -5px;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Group_26 {
	position: absolute;
	width: 442px;
	height: 279px;
	left: 71px;
	top: 689px;
	overflow: visible;
}
#Ellipse_1 {
	opacity: 0.31;
	fill: rgba(178,232,232,1);
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 244px;
	height: 244px;
	left: 0px;
	top: 0px;
}
#About_Us {
	left: 110px;
	top: 178px;
	position: absolute;
	overflow: visible;
	width: 333px;
	white-space: nowrap;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 76px;
	color: rgba(29,29,29,1);
}
#Est_perspiciati_de {
	left: 270px;
	top: 2396px;
	position: absolute;
	overflow: hidden;
	width: 587px;
	height: 102px;
	line-height: 24px;
	margin-top: -3px;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Group_8592 {
	position: absolute;
	width: 1920px;
	height: 1184px;
	left: 0px;
	top: 1482px;
	overflow: visible;
}
#rectangle-14 {
	fill: rgba(243,247,248,1);
}
.rectangle-14 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1184px;
	left: 0px;
	top: 0px;
}
#group-13 {
	position: absolute;
	width: 444px;
	height: 454px;
	left: 998px;
	top: 660.998px;
	overflow: visible;
}
#rectangle-13 {
	position: absolute;
	width: 444px;
	height: 454px;
	left: 0px;
	top: 0.002px;
	overflow: visible;
}
#group-12 {
	position: absolute;
	width: 581px;
	height: 594px;
	left: 1228px;
	top: 155.998px;
	overflow: visible;
}
#rectangle-13_dk {
	position: absolute;
	width: 581px;
	height: 594px;
	left: 0px;
	top: 0.002px;
	overflow: visible;
}
#group-9 {
	position: absolute;
	width: 480px;
	height: 491px;
	left: 960px;
	top: 117.998px;
	overflow: visible;
}
#rectangle-13_dm {
	position: absolute;
	width: 480px;
	height: 491px;
	left: 0px;
	top: 0.002px;
	overflow: visible;
}
#group-10 {
	position: absolute;
	width: 392px;
	height: 401px;
	left: 1417px;
	top: 687.998px;
	overflow: visible;
}
#rectangle-13_do {
	position: absolute;
	width: 392px;
	height: 401px;
	left: 0px;
	top: 0.002px;
	overflow: visible;
}
#Group_8591 {
	position: absolute;
	width: 807px;
	height: 993px;
	left: 87px;
	top: 96px;
	overflow: visible;
}
#Rectangle_1673 {
	fill: rgba(255,255,255,1);
}
.Rectangle_1673 {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 873px;
	height: 1059px;
	left: 0px;
	top: 0px;
}
#About_Us_dr {
	left: 116px;
	top: 67px;
	position: absolute;
	overflow: visible;
	width: 586px;
	white-space: nowrap;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 54px;
	color: rgba(29,29,29,1);
}
#Group_8589 {
	position: absolute;
	width: 576px;
	height: 116px;
	left: 116px;
	top: 191px;
	overflow: visible;
}
#Rectangle_1 {
	fill: rgba(232,178,178,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 576px;
	height: 116px;
	left: 0px;
	top: 0px;
}
#_knitteriAm {
	left: 157px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 264px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -8px;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	color: rgba(255,255,255,1);
}
#Ellipse_65 {
	position: absolute;
	width: 279px;
	height: 279px;
	left: 264px;
	top: 342px;
	overflow: visible;
}
#Est_perspiciati_dw {
	left: 116px;
	top: 656px;
	position: absolute;
	overflow: visible;
	width: 587px;
	height: 197px;
	line-height: 30px;
	margin-top: -4px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.3px;
}
#Group_8590 {
	position: absolute;
	width: 289px;
	height: 79px;
	left: 259px;
	top: 870px;
	overflow: visible;
}
#rectangle-4 {
	fill: rgba(178,232,232,1);
}
.rectangle-4 {
	position: absolute;
	overflow: visible;
	width: 289px;
	height: 79px;
	left: 0px;
	top: 0px;
}
#Play_Showreel {
	left: 103px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.22px;
}
#Group_8593 {
	position: absolute;
	width: 1111px;
	height: 62px;
	left: 405px;
	top: 2726px;
	overflow: visible;
}
#Group_19 {
	position: absolute;
	width: 64px;
	height: 47px;
	left: 324px;
	top: 0px;
	overflow: visible;
}
#Kids {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	line-height: 47px;
	margin-top: -6px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(2,24,25,1);
}
#Group_20 {
	position: absolute;
	width: 70px;
	height: 47px;
	left: 558px;
	top: 0px;
	overflow: visible;
}
#Men {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 47px;
	margin-top: -6px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(2,24,25,1);
}
#Group_21 {
	position: absolute;
	width: 94px;
	height: 47px;
	left: 783px;
	top: 0px;
	overflow: visible;
}
#Home {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 47px;
	margin-top: -6px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(2,24,25,1);
}
#Group_22 {
	position: absolute;
	width: 88px;
	height: 47px;
	left: 1023px;
	top: 0px;
	overflow: visible;
}
#Other {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 47px;
	margin-top: -6px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(2,24,25,1);
}
#Women {
	left: 59px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 47px;
	margin-top: -6px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(232,178,178,1);
}
#Rectangle_8 {
	fill: rgba(232,178,178,1);
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 237px;
	height: 8px;
	left: 0px;
	top: 54px;
}
#Play_Showreel_eb {
	left: 44px;
	top: 257px;
	position: absolute;
	overflow: visible;
	width: 265px;
	white-space: nowrap;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 62px;
	color: rgba(232,178,178,1);
	letter-spacing: 1.22px;
}
#Icon_material-navigate-next {
	fill: rgba(178,232,232,1);
}
.Icon_material-navigate-next {
	overflow: visible;
	position: absolute;
	width: 34.111px;
	height: 55.24px;
	left: 375px;
	top: 274.879px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-navigate-next_ed {
	fill: rgba(0,0,0,1);
}
.Icon_material-navigate-next_ed {
	overflow: visible;
	position: absolute;
	width: 34.111px;
	height: 55.24px;
	left: 489.943px;
	top: 440.879px;
	transform: matrix(1,0,0,1,0,0);
}
#Play_Showreel_ee {
	left: 90px;
	top: 423px;
	position: absolute;
	overflow: visible;
	width: 367px;
	white-space: nowrap;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 62px;
	color: rgba(0,0,0,1);
	letter-spacing: 1.22px;
}
#Group_8766 {
	position: absolute;
	width: 1920px;
	height: 275px;
	left: 0px;
	top: 5317px;
	overflow: visible;
}
#Path_574 {
	opacity: 0.5;
	fill: rgba(178,232,232,1);
}
.Path_574 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 275px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Kreaplace_bl1 {
	position: absolute;
	width: 259px;
	height: 111px;
	left: 831px;
	top: 76px;
	overflow: visible;
}
#About_Us_ei {
	left: 128px;
	top: 115px;
	position: absolute;
	overflow: visible;
	width: 364px;
	white-space: nowrap;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(29,29,29,1);
}
#Group_15 {
	position: absolute;
	width: 68px;
	height: 68px;
	left: 1546px;
	top: 98px;
	overflow: visible;
}
#Ellipse_4 {
	fill: rgba(232,178,178,1);
}
.Ellipse_4 {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 134px;
	height: 134px;
	left: 0px;
	top: 0px;
}
#Icon_awesome-facebook-f {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-facebook-f {
	overflow: visible;
	position: absolute;
	width: 19.281px;
	height: 36px;
	left: 24.359px;
	top: 15.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_16 {
	position: absolute;
	width: 68px;
	height: 68px;
	left: 1629px;
	top: 98px;
	overflow: visible;
}
#Ellipse_4_en {
	fill: rgba(232,178,178,1);
}
.Ellipse_4_en {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 134px;
	height: 134px;
	left: 0px;
	top: 0px;
}
#Icon_awesome-instagram {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-instagram {
	overflow: visible;
	position: absolute;
	width: 31.518px;
	height: 31.51px;
	left: 18.24px;
	top: 18.246px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_17 {
	position: absolute;
	width: 68px;
	height: 68px;
	left: 1712px;
	top: 98px;
	overflow: visible;
}
#Ellipse_4_eq {
	fill: rgba(232,178,178,1);
}
.Ellipse_4_eq {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 134px;
	height: 134px;
	left: 0px;
	top: 0px;
}
#Icon_awesome-pinterest-p {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-pinterest-p {
	overflow: visible;
	position: absolute;
	width: 27px;
	height: 35.094px;
	left: 20.5px;
	top: 16.453px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8798 {
	position: absolute;
	width: 225.012px;
	height: 47px;
	left: 848px;
	top: 5213px;
	overflow: visible;
}
#Group_8767 {
	position: absolute;
	width: 225.012px;
	height: 47px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#View_More {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 167px;
	white-space: nowrap;
	line-height: 47px;
	margin-top: -6px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(232,178,178,1);
}
#Icon_awesome-arrow-alt-circle- {
	fill: rgba(232,178,178,1);
}
.Icon_awesome-arrow-alt-circle- {
	overflow: visible;
	position: absolute;
	width: 33.014px;
	height: 33.014px;
	left: 191.998px;
	top: 9.492px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8824 {
	position: absolute;
	width: 1920px;
	height: 120px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1677 {
	fill: rgba(232,178,178,1);
}
.Rectangle_1677 {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1986px;
	height: 186px;
	left: 0px;
	top: 0px;
}
#group-30 {
	position: absolute;
	width: 575px;
	height: 30px;
	left: 562px;
	top: 39px;
	overflow: visible;
}
#ABOUT_US {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.86px;
}
#ABOUT_US_e {
	left: 115px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.86px;
}
#ABOUT_US_fa {
	left: 310px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.86px;
}
#ABOUT_US_fb {
	left: 486px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.86px;
}
#Rectangle_4 {
	position: absolute;
	width: 67px;
	height: 67px;
	left: 1733px;
	top: 21px;
	overflow: visible;
}
#Kreaplace_bl1_e {
	position: absolute;
	width: 203px;
	height: 87px;
	left: 120px;
	top: 11px;
	overflow: visible;
}
#Icon_awesome-shopping-bag {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_awesome-shopping-bag {
	overflow: visible;
	position: absolute;
	width: 27.057px;
	height: 30.707px;
	left: 1651.523px;
	top: 39.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8825 {
	position: absolute;
	width: 14px;
	height: 14px;
	left: 1672px;
	top: 48px;
	overflow: visible;
}
#Ellipse_74 {
	fill: rgba(178,232,232,1);
}
.Ellipse_74 {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 80px;
	height: 80px;
	left: 0px;
	top: 0px;
}
#ID0 {
	left: 4px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -4px;
	text-align: left;
	font-family: WorkSans-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(255,255,255,1);
}
#Icon_material-search {
	fill: rgba(255,255,255,1);
}
.Icon_material-search {
	overflow: visible;
	position: absolute;
	width: 17.273px;
	height: 17.273px;
	left: 1477.828px;
	top: 46px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_1706 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1706 {
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 34px;
	left: 1303px;
	top: 38px;
}
#Line_20 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 0.30000001192092896px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_20 {
	overflow: visible;
	position: absolute;
	width: 0.301px;
	height: 28px;
	left: 1468.5px;
	top: 40.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Icons {
	position: absolute;
	width: 30.727px;
	height: 27.144px;
	left: 1590px;
	top: 41.285px;
	overflow: visible;
}
#Group_8821 {
	position: absolute;
	width: 30.727px;
	height: 27.144px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_575 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_575 {
	overflow: visible;
	position: absolute;
	width: 31.727px;
	height: 28.145px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_576 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_576 {
	overflow: visible;
	position: absolute;
	width: 1.211px;
	height: 2.426px;
	left: 2.494px;
	top: 9.32px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_577 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_577 {
	overflow: visible;
	position: absolute;
	width: 6.563px;
	height: 5.793px;
	left: 2.912px;
	top: 2.336px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8822 {
	position: absolute;
	width: 14px;
	height: 14px;
	left: 1612px;
	top: 48px;
	overflow: visible;
}
#Ellipse_73 {
	fill: rgba(178,232,232,1);
}
.Ellipse_73 {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 80px;
	height: 80px;
	left: 0px;
	top: 0px;
}
#ID4 {
	left: 4px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -4px;
	text-align: left;
	font-family: WorkSans-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(255,255,255,1);
}
#Icons_fk {
	position: absolute;
	width: 28.42px;
	height: 28.42px;
	left: 1536.059px;
	top: 40.719px;
	overflow: visible;
}
#Path_578 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_578 {
	overflow: visible;
	position: absolute;
	width: 29.42px;
	height: 29.42px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8823 {
	position: absolute;
	width: 9.866px;
	height: 9.866px;
	left: 9.277px;
	top: 9.277px;
	overflow: visible;
}
#Line_22 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Line_22 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 10.867px;
	left: 4.934px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_23 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Line_23 {
	overflow: visible;
	position: absolute;
	width: 10.867px;
	height: 1px;
	left: 0px;
	top: 4.932px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8859 {
	position: absolute;
	width: 1699px;
	height: 2269px;
	left: 140px;
	top: 2889px;
	overflow: visible;
}
#Group_8803 {
	position: absolute;
	width: 1699px;
	height: 2269px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_18 {
	position: absolute;
	width: 1699px;
	height: 2269px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_1 {
	position: absolute;
	width: 587px;
	height: 587px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2 {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 587px;
	height: 587px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3 {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.Rectangle_3 {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 653px;
	height: 212px;
	left: 0px;
	top: 441px;
}
#Musse_Nusseklud {
	left: 183px;
	top: 454px;
	position: absolute;
	overflow: visible;
	width: 224px;
	white-space: nowrap;
	line-height: 39px;
	margin-top: -5px;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(178,232,232,1);
}
#ByDorhe {
	left: 240px;
	top: 498px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -4px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(255,255,255,1);
}
#ID15DKR {
	left: 253px;
	top: 534px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	line-height: 37px;
	margin-top: -4.5px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
#Group_2 {
	position: absolute;
	width: 426px;
	height: 426px;
	left: 631px;
	top: 57px;
	overflow: visible;
}
#Rectangle_2_fz {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 426px;
	height: 426px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_f {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.Rectangle_3_f {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 492px;
	height: 172px;
	left: 0px;
	top: 320px;
}
#Musse_Nusseklud_f {
	left: 124px;
	top: 329px;
	position: absolute;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(178,232,232,1);
}
#ByDorhe_f {
	left: 174px;
	top: 361px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#ID15DKR_f {
	left: 182px;
	top: 387px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Group_5 {
	position: absolute;
	width: 525px;
	height: 525px;
	left: 587px;
	top: 587px;
	overflow: visible;
}
#Rectangle_2_f {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 525px;
	height: 525px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_8755 {
	position: absolute;
	width: 52px;
	height: 127px;
	left: 430px;
	top: 27px;
	overflow: visible;
}
#Ellipse_2 {
	fill: rgba(232,178,178,1);
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 53px;
	left: 0px;
	top: 0px;
}
#Ellipse_3 {
	fill: rgba(232,178,178,1);
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 75px;
}
#Icon_awesome-bookmark {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-bookmark {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 23.564px;
	left: 17.049px;
	top: 89.045px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-heart {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-heart {
	overflow: visible;
	position: absolute;
	width: 26.93px;
	height: 23.563px;
	left: 12.422px;
	top: 14.852px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_3_gb {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.Rectangle_3_gb {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 591px;
	height: 197px;
	left: 0px;
	top: 394px;
}
#Musse_Nusseklud_gc {
	left: 153px;
	top: 406px;
	position: absolute;
	overflow: visible;
	width: 193px;
	white-space: nowrap;
	line-height: 33px;
	margin-top: -4px;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(178,232,232,1);
}
#ByDorhe_gd {
	left: 214px;
	top: 444px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(255,255,255,1);
}
#ID15DKR_ge {
	left: 227px;
	top: 478px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -4px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Group_9 {
	position: absolute;
	width: 446px;
	height: 446px;
	left: 693px;
	top: 1272px;
	overflow: visible;
}
#Rectangle_2_gg {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 446px;
	height: 446px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_gh {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.Rectangle_3_gh {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 512px;
	height: 177px;
	left: 0px;
	top: 335px;
}
#Musse_Nusseklud_gi {
	left: 130px;
	top: 344px;
	position: absolute;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(178,232,232,1);
}
#ByDorhe_gj {
	left: 182px;
	top: 378px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#ID15DKR_gk {
	left: 188px;
	top: 405px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	line-height: 29px;
	margin-top: -4px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
#Group_11 {
	position: absolute;
	width: 446px;
	height: 446px;
	left: 693px;
	top: 1822px;
	overflow: visible;
}
#Rectangle_2_gm {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 446px;
	height: 446px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_gn {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.Rectangle_3_gn {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 512px;
	height: 177px;
	left: 0px;
	top: 335px;
}
#Musse_Nusseklud_go {
	left: 130px;
	top: 344px;
	position: absolute;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(178,232,232,1);
}
#ByDorhe_gp {
	left: 182px;
	top: 378px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#ID15DKR_gq {
	left: 185px;
	top: 406px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -4px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(255,255,255,1);
}
#Group_13 {
	position: absolute;
	width: 664px;
	height: 291px;
	left: 0px;
	top: 1978px;
	overflow: visible;
}
#Rectangle_2_gs {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 664px;
	height: 291px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_gt {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.Rectangle_3_gt {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 730px;
	height: 177px;
	left: 0px;
	top: 180px;
}
#Musse_Nusseklud_gu {
	left: 244px;
	top: 197px;
	position: absolute;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(178,232,232,1);
}
#ByDorhe_gv {
	left: 295px;
	top: 236px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#ID15DKR_gw {
	left: 302px;
	top: 257px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Group_10 {
	position: absolute;
	width: 446px;
	height: 446px;
	left: 1194px;
	top: 1272px;
	overflow: visible;
}
#Rectangle_2_gy {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 446px;
	height: 446px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_2_gz {
	fill: rgba(232,178,178,1);
}
.Ellipse_2_gz {
	position: absolute;
	overflow: visible;
	width: 44px;
	height: 45px;
	left: 366px;
	top: 23px;
}
#Icon_awesome-bookmark_g {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-bookmark_g {
	overflow: visible;
	position: absolute;
	width: 15.025px;
	height: 20.033px;
	left: 380.07px;
	top: 98.658px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-heart_g {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-heart_g {
	overflow: visible;
	position: absolute;
	width: 22.895px;
	height: 20.033px;
	left: 376.137px;
	top: 35.582px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_3_g {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.Rectangle_3_g {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 512px;
	height: 177px;
	left: 0px;
	top: 335px;
}
#Musse_Nusseklud_g {
	left: 130px;
	top: 344px;
	position: absolute;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(178,232,232,1);
}
#ByDorhe_g {
	left: 182px;
	top: 378px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#ID15DKR_g {
	left: 191px;
	top: 405px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(255,255,255,1);
}
#Group_12 {
	position: absolute;
	width: 446px;
	height: 446px;
	left: 1194px;
	top: 1822px;
	overflow: visible;
}
#Rectangle_2_g {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 446px;
	height: 446px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_ha {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.Rectangle_3_ha {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 512px;
	height: 177px;
	left: 0px;
	top: 335px;
}
#Musse_Nusseklud_ha {
	left: 130px;
	top: 344px;
	position: absolute;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(178,232,232,1);
}
#ByDorhe_ha {
	left: 182px;
	top: 378px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#ID15DKR_hb {
	left: 182px;
	top: 406px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	line-height: 34px;
	margin-top: -4.5px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Group_7 {
	position: absolute;
	width: 525px;
	height: 525px;
	left: 1174px;
	top: 622px;
	overflow: visible;
}
#Rectangle_2_hd {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 525px;
	height: 525px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_2_he {
	fill: rgba(232,178,178,1);
}
.Ellipse_2_he {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 53px;
	left: 430px;
	top: 27px;
}
#Ellipse_3_hf {
	fill: rgba(232,178,178,1);
}
.Ellipse_3_hf {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 52px;
	left: 430px;
	top: 102px;
}
#Icon_awesome-bookmark_hg {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-bookmark_hg {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 23.564px;
	left: 447.049px;
	top: 116.045px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-heart_hh {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-heart_hh {
	overflow: visible;
	position: absolute;
	width: 26.93px;
	height: 23.563px;
	left: 442.422px;
	top: 41.852px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_3_hi {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.Rectangle_3_hi {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 591px;
	height: 197px;
	left: 0px;
	top: 394px;
}
#Musse_Nusseklud_hj {
	left: 153px;
	top: 406px;
	position: absolute;
	overflow: visible;
	width: 193px;
	white-space: nowrap;
	line-height: 33px;
	margin-top: -4px;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(178,232,232,1);
}
#ByDorhe_hk {
	left: 214px;
	top: 444px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(255,255,255,1);
}
#ID15DKR_hl {
	left: 220px;
	top: 478px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	line-height: 37px;
	margin-top: -5px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Group_8 {
	position: absolute;
	width: 663px;
	height: 663px;
	left: 0px;
	top: 1258px;
	overflow: visible;
}
#Rectangle_2_hn {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 663px;
	height: 663px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_ho {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.Rectangle_3_ho {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 729px;
	height: 232px;
	left: 0px;
	top: 497px;
}
#Musse_Nusseklud_hp {
	left: 193px;
	top: 513px;
	position: absolute;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	line-height: 41px;
	margin-top: -5px;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(178,232,232,1);
}
#ByDorhe_hq {
	left: 270px;
	top: 562px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -4px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#ID15DKR_hr {
	left: 284px;
	top: 604px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -6px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Group_6 {
	position: absolute;
	width: 525px;
	height: 525px;
	left: 0px;
	top: 663px;
	overflow: visible;
}
#Rectangle_2_ht {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 525px;
	height: 525px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_hu {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.Rectangle_3_hu {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 591px;
	height: 197px;
	left: 0px;
	top: 394px;
}
#Musse_Nusseklud_hv {
	left: 153px;
	top: 406px;
	position: absolute;
	overflow: visible;
	width: 193px;
	white-space: nowrap;
	line-height: 33px;
	margin-top: -4px;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(178,232,232,1);
}
#ByDorhe_hw {
	left: 214px;
	top: 444px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(255,255,255,1);
}
#ID15DKR_hx {
	left: 220px;
	top: 478px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	line-height: 37px;
	margin-top: -5px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Group_3 {
	position: absolute;
	width: 539px;
	height: 539px;
	left: 1101px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_hz {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 539px;
	height: 539px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_2_h {
	fill: rgba(232,178,178,1);
}
.Ellipse_2_h {
	position: absolute;
	overflow: visible;
	width: 53px;
	height: 54px;
	left: 442px;
	top: 28px;
}
#Ellipse_3_h {
	fill: rgba(232,178,178,1);
}
.Ellipse_3_h {
	position: absolute;
	overflow: visible;
	width: 53px;
	height: 53px;
	left: 442px;
	top: 105px;
}
#Icon_awesome-bookmark_h {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-bookmark_h {
	overflow: visible;
	position: absolute;
	width: 18.152px;
	height: 24.203px;
	left: 459.186px;
	top: 119.195px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-heart_h {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-heart_h {
	overflow: visible;
	position: absolute;
	width: 27.66px;
	height: 24.203px;
	left: 454.432px;
	top: 42.988px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_3_h {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.Rectangle_3_h {
	filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 605px;
	height: 200px;
	left: 0px;
	top: 405px;
}
#Musse_Nusseklud_h {
	left: 157px;
	top: 418px;
	position: absolute;
	overflow: visible;
	width: 193px;
	white-space: nowrap;
	line-height: 33px;
	margin-top: -4px;
	text-align: left;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(178,232,232,1);
}
#ByDorhe_h {
	left: 221px;
	top: 456px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -4px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#ID15DKR_h {
	left: 235px;
	top: 491px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	line-height: 29px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Jost;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Group_8756 {
	position: absolute;
	width: 52px;
	height: 127px;
	left: 985px;
	top: 104px;
	overflow: visible;
}
#Ellipse_2_ia {
	fill: rgba(232,178,178,1);
}
.Ellipse_2_ia {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 53px;
	left: 0px;
	top: 0px;
}
#Ellipse_3_ia {
	fill: rgba(232,178,178,1);
}
.Ellipse_3_ia {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 75px;
}
#Icon_awesome-bookmark_ib {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-bookmark_ib {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 23.564px;
	left: 17.049px;
	top: 89.045px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-heart_ic {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-heart_ic {
	overflow: visible;
	position: absolute;
	width: 26.93px;
	height: 23.563px;
	left: 12.422px;
	top: 14.852px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8839 {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 1019px;
	top: 84px;
	overflow: visible;
}
#Group_8840 {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1717 {
	fill: rgba(249,156,148,1);
}
.Rectangle_1717 {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
}
#ID99 {
	left: 4px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: WorkSans-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Group_8848 {
	position: absolute;
	width: 66px;
	height: 147px;
	left: 498px;
	top: 14px;
	overflow: visible;
}
#Ellipse_2_ii {
	fill: rgba(232,178,178,1);
}
.Ellipse_2_ii {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 53px;
	left: 0px;
	top: 20px;
}
#Ellipse_3_ij {
	fill: rgba(232,178,178,1);
}
.Ellipse_3_ij {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 95px;
}
#Icon_awesome-bookmark_ik {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-bookmark_ik {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 23.564px;
	left: 17.049px;
	top: 109.045px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-heart_il {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-heart_il {
	overflow: visible;
	position: absolute;
	width: 26.93px;
	height: 23.563px;
	left: 12.422px;
	top: 34.854px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8846 {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 35px;
	top: 0px;
	overflow: visible;
}
#Group_8840_in {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1717_io {
	fill: rgba(249,156,148,1);
}
.Rectangle_1717_io {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
}
#ID99_ip {
	left: 4px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: WorkSans-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Group_8849 {
	position: absolute;
	width: 66px;
	height: 147px;
	left: 432px;
	top: 688px;
	overflow: visible;
}
#Ellipse_2_ir {
	fill: rgba(232,178,178,1);
}
.Ellipse_2_ir {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 53px;
	left: 0px;
	top: 20px;
}
#Ellipse_3_is {
	fill: rgba(232,178,178,1);
}
.Ellipse_3_is {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 95px;
}
#Icon_awesome-bookmark_it {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-bookmark_it {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 23.564px;
	left: 17.049px;
	top: 109.045px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-heart_iu {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-heart_iu {
	overflow: visible;
	position: absolute;
	width: 26.93px;
	height: 23.563px;
	left: 12.422px;
	top: 34.854px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8846_iv {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 35px;
	top: 0px;
	overflow: visible;
}
#Group_8840_iw {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1717_ix {
	fill: rgba(249,156,148,1);
}
.Rectangle_1717_ix {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
}
#ID99_iy {
	left: 4px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: WorkSans-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Group_8853 {
	position: absolute;
	width: 66px;
	height: 147px;
	left: 567px;
	top: 1277px;
	overflow: visible;
}
#Ellipse_2_i {
	fill: rgba(232,178,178,1);
}
.Ellipse_2_i {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 53px;
	left: 0px;
	top: 20px;
}
#Ellipse_3_i {
	fill: rgba(232,178,178,1);
}
.Ellipse_3_i {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 95px;
}
#Icon_awesome-bookmark_i {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-bookmark_i {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 23.564px;
	left: 17.049px;
	top: 109.045px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-heart_i {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-heart_i {
	overflow: visible;
	position: absolute;
	width: 26.93px;
	height: 23.563px;
	left: 12.422px;
	top: 34.854px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8846_i {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 35px;
	top: 0px;
	overflow: visible;
}
#Group_8840_i {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1717_i {
	fill: rgba(249,156,148,1);
}
.Rectangle_1717_i {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
}
#ID99_i {
	left: 4px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: WorkSans-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Group_8856 {
	position: absolute;
	width: 66px;
	height: 147px;
	left: 575px;
	top: 1988px;
	overflow: visible;
}
#Ellipse_2_ja {
	fill: rgba(232,178,178,1);
}
.Ellipse_2_ja {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 53px;
	left: 0px;
	top: 20px;
}
#Ellipse_3_ja {
	fill: rgba(232,178,178,1);
}
.Ellipse_3_ja {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 95px;
}
#Icon_awesome-bookmark_jb {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-bookmark_jb {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 23.564px;
	left: 17.049px;
	top: 109.045px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-heart_jc {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-heart_jc {
	overflow: visible;
	position: absolute;
	width: 26.93px;
	height: 23.563px;
	left: 12.422px;
	top: 34.854px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8846_jd {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 35px;
	top: 0px;
	overflow: visible;
}
#Group_8840_je {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1717_jf {
	fill: rgba(249,156,148,1);
}
.Rectangle_1717_jf {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
}
#ID99_jg {
	left: 4px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: WorkSans-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Group_8857 {
	position: absolute;
	width: 66px;
	height: 147px;
	left: 1043px;
	top: 1841px;
	overflow: visible;
}
#Ellipse_2_ji {
	fill: rgba(232,178,178,1);
}
.Ellipse_2_ji {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 53px;
	left: 0px;
	top: 20px;
}
#Ellipse_3_jj {
	fill: rgba(232,178,178,1);
}
.Ellipse_3_jj {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 95px;
}
#Icon_awesome-bookmark_jk {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-bookmark_jk {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 23.564px;
	left: 17.049px;
	top: 109.045px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-heart_jl {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-heart_jl {
	overflow: visible;
	position: absolute;
	width: 26.93px;
	height: 23.563px;
	left: 12.422px;
	top: 34.854px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8846_jm {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 35px;
	top: 0px;
	overflow: visible;
}
#Group_8840_jn {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1717_jo {
	fill: rgba(249,156,148,1);
}
.Rectangle_1717_jo {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
}
#ID99_jp {
	left: 4px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: WorkSans-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Group_8858 {
	position: absolute;
	width: 66px;
	height: 147px;
	left: 1546px;
	top: 1836px;
	overflow: visible;
}
#Ellipse_2_jr {
	fill: rgba(232,178,178,1);
}
.Ellipse_2_jr {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 53px;
	left: 0px;
	top: 20px;
}
#Ellipse_3_js {
	fill: rgba(232,178,178,1);
}
.Ellipse_3_js {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 95px;
}
#Icon_awesome-bookmark_jt {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-bookmark_jt {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 23.564px;
	left: 17.049px;
	top: 109.045px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-heart_ju {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-heart_ju {
	overflow: visible;
	position: absolute;
	width: 26.93px;
	height: 23.563px;
	left: 12.422px;
	top: 34.854px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8846_jv {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 35px;
	top: 0px;
	overflow: visible;
}
#Group_8840_jw {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1717_jx {
	fill: rgba(249,156,148,1);
}
.Rectangle_1717_jx {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
}
#ID99_jy {
	left: 4px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: WorkSans-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Group_8854 {
	position: absolute;
	width: 66px;
	height: 147px;
	left: 1046px;
	top: 1283px;
	overflow: visible;
}
#Ellipse_2_j {
	fill: rgba(232,178,178,1);
}
.Ellipse_2_j {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 53px;
	left: 0px;
	top: 20px;
}
#Ellipse_3_j {
	fill: rgba(232,178,178,1);
}
.Ellipse_3_j {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 95px;
}
#Icon_awesome-bookmark_j {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-bookmark_j {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 23.564px;
	left: 17.049px;
	top: 109.045px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-heart_j {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-heart_j {
	overflow: visible;
	position: absolute;
	width: 26.93px;
	height: 23.563px;
	left: 12.422px;
	top: 34.854px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8846_j {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 35px;
	top: 0px;
	overflow: visible;
}
#Group_8840_j {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1717_j {
	fill: rgba(249,156,148,1);
}
.Rectangle_1717_j {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
}
#ID99_j {
	left: 4px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: WorkSans-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Group_8855 {
	position: absolute;
	width: 66px;
	height: 147px;
	left: 1557px;
	top: 1267px;
	overflow: visible;
}
#Ellipse_2_ka {
	fill: rgba(232,178,178,1);
}
.Ellipse_2_ka {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 53px;
	left: 0px;
	top: 20px;
}
#Ellipse_3_ka {
	fill: rgba(232,178,178,1);
}
.Ellipse_3_ka {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 95px;
}
#Icon_awesome-bookmark_kb {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-bookmark_kb {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 23.564px;
	left: 17.049px;
	top: 109.045px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-heart_kc {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-heart_kc {
	overflow: visible;
	position: absolute;
	width: 26.93px;
	height: 23.563px;
	left: 12.422px;
	top: 34.854px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8846_kd {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 35px;
	top: 0px;
	overflow: visible;
}
#Group_8840_ke {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1717_kf {
	fill: rgba(249,156,148,1);
}
.Rectangle_1717_kf {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
}
#ID99_kg {
	left: 4px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: WorkSans-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Group_8850 {
	position: absolute;
	width: 66px;
	height: 147px;
	left: 1019px;
	top: 593px;
	overflow: visible;
}
#Ellipse_2_ki {
	fill: rgba(232,178,178,1);
}
.Ellipse_2_ki {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 53px;
	left: 0px;
	top: 20px;
}
#Ellipse_3_kj {
	fill: rgba(232,178,178,1);
}
.Ellipse_3_kj {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 95px;
}
#Icon_awesome-bookmark_kk {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-bookmark_kk {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 23.564px;
	left: 17.049px;
	top: 109.045px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-heart_kl {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-heart_kl {
	overflow: visible;
	position: absolute;
	width: 26.93px;
	height: 23.563px;
	left: 12.422px;
	top: 34.854px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8846_km {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 35px;
	top: 0px;
	overflow: visible;
}
#Group_8840_kn {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1717_ko {
	fill: rgba(249,156,148,1);
}
.Rectangle_1717_ko {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
}
#ID99_kp {
	left: 4px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: WorkSans-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Group_8851 {
	position: absolute;
	width: 66px;
	height: 147px;
	left: 1606px;
	top: 627px;
	overflow: visible;
}
#Ellipse_2_kr {
	fill: rgba(232,178,178,1);
}
.Ellipse_2_kr {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 53px;
	left: 0px;
	top: 20px;
}
#Ellipse_3_ks {
	fill: rgba(232,178,178,1);
}
.Ellipse_3_ks {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 95px;
}
#Icon_awesome-bookmark_kt {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-bookmark_kt {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 23.564px;
	left: 17.049px;
	top: 109.045px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-heart_ku {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-heart_ku {
	overflow: visible;
	position: absolute;
	width: 26.93px;
	height: 23.563px;
	left: 12.422px;
	top: 34.854px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8846_kv {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 35px;
	top: 0px;
	overflow: visible;
}
#Group_8840_kw {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1717_kx {
	fill: rgba(249,156,148,1);
}
.Rectangle_1717_kx {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
}
#ID99_ky {
	left: 4px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: WorkSans-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Group_8852 {
	position: absolute;
	width: 66px;
	height: 147px;
	left: 1544px;
	top: 8px;
	overflow: visible;
}
#Ellipse_2_k {
	fill: rgba(232,178,178,1);
}
.Ellipse_2_k {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 53px;
	left: 0px;
	top: 20px;
}
#Ellipse_3_k {
	fill: rgba(232,178,178,1);
}
.Ellipse_3_k {
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 95px;
}
#Icon_awesome-bookmark_k {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-bookmark_k {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 23.564px;
	left: 17.049px;
	top: 109.045px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-heart_k {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-heart_k {
	overflow: visible;
	position: absolute;
	width: 26.93px;
	height: 23.563px;
	left: 12.422px;
	top: 34.854px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8846_k {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 35px;
	top: 0px;
	overflow: visible;
}
#Group_8840_k {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1717_k {
	fill: rgba(249,156,148,1);
}
.Rectangle_1717_k {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
}
#ID99_k {
	left: 4px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: WorkSans-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}