$icomoon-font-family: "opacity" !default;
$icomoon-font-path: "fonts" !default;

$op-activity: "\e900";
$op-airplay: "\e901";
$op-alert-circle: "\e902";
$op-alert-octagon: "\e903";
$op-alert-triangle: "\e904";
$op-align-center: "\e905";
$op-align-justify: "\e906";
$op-align-left: "\e907";
$op-align-right: "\e908";
$op-anchor: "\e909";
$op-aperture: "\e90a";
$op-archive: "\e90b";
$op-arrow-down: "\e90c";
$op-arrow-down-circle: "\e90d";
$op-arrow-down-left: "\e90e";
$op-arrow-down-right: "\e90f";
$op-arrow-left: "\e910";
$op-arrow-left-circle: "\e911";
$op-arrow-right: "\e912";
$op-arrow-right-circle: "\e913";
$op-arrow-up: "\e914";
$op-arrow-up-circle: "\e915";
$op-arrow-up-left: "\e916";
$op-arrow-up-right: "\e917";
$op-at-sign: "\e918";
$op-award: "\e919";
$op-bar-chart: "\e91a";
$op-bar-chart-2: "\e91b";
$op-battery: "\e91c";
$op-battery-charging: "\e91d";
$op-bell: "\e91e";
$op-bell-off: "\e91f";
$op-bluetooth: "\e920";
$op-bold: "\e921";
$op-book: "\e922";
$op-book-open: "\e923";
$op-bookmark: "\e924";
$op-box: "\e925";
$op-briefcase: "\e926";
$op-calendar: "\e927";
$op-camera: "\e928";
$op-camera-off: "\e929";
$op-cast: "\e92a";
$op-check: "\e92b";
$op-check-circle: "\e92c";
$op-check-square: "\e92d";
$op-chevron-down: "\e92e";
$op-chevron-left: "\e92f";
$op-chevron-right: "\e930";
$op-chevron-up: "\e931";
$op-chevrons-down: "\e932";
$op-chevrons-left: "\e933";
$op-chevrons-right: "\e934";
$op-chevrons-up: "\e935";
$op-chrome: "\e936";
$op-circle: "\e937";
$op-clipboard: "\e938";
$op-clock: "\e939";
$op-cloud: "\e93a";
$op-cloud-drizzle: "\e93b";
$op-cloud-lightning: "\e93c";
$op-cloud-off: "\e93d";
$op-cloud-rain: "\e93e";
$op-cloud-snow: "\e93f";
$op-code: "\e940";
$op-codepen: "\e941";
$op-codesandbox: "\e942";
$op-coffee: "\e943";
$op-columns: "\e944";
$op-command: "\e945";
$op-compass: "\e946";
$op-copy: "\e947";
$op-corner-down-left: "\e948";
$op-corner-down-right: "\e949";
$op-corner-left-down: "\e94a";
$op-corner-left-up: "\e94b";
$op-corner-right-down: "\e94c";
$op-corner-right-up: "\e94d";
$op-corner-up-left: "\e94e";
$op-corner-up-right: "\e94f";
$op-cpu: "\e950";
$op-credit-card: "\e951";
$op-crop: "\e952";
$op-crosshair: "\e953";
$op-database: "\e954";
$op-delete: "\e955";
$op-disc: "\e956";
$op-dollar-sign: "\e957";
$op-download: "\e958";
$op-download-cloud: "\e959";
$op-droplet: "\e95a";
$op-edit: "\e95b";
$op-edit-2: "\e95c";
$op-edit-3: "\e95d";
$op-external-link: "\e95e";
$op-eye: "\e95f";
$op-eye-off: "\e960";
$op-facebook: "\e961";
$op-fast-forward: "\e962";
$op-feather: "\e963";
$op-figma: "\e964";
$op-file: "\e965";
$op-file-minus: "\e966";
$op-file-plus: "\e967";
$op-file-text: "\e968";
$op-film: "\e969";
$op-filter: "\e96a";
$op-flag: "\e96b";
$op-folder: "\e96c";
$op-folder-minus: "\e96d";
$op-folder-plus: "\e96e";
$op-framer: "\e96f";
$op-frown: "\e970";
$op-gift: "\e971";
$op-git-branch: "\e972";
$op-git-commit: "\e973";
$op-git-merge: "\e974";
$op-git-pull-request: "\e975";
$op-github: "\e976";
$op-gitlab: "\e977";
$op-globe: "\e978";
$op-grid: "\e979";
$op-hard-drive: "\e97a";
$op-hash: "\e97b";
$op-headphones: "\e97c";
$op-heart: "\e97d";
$op-help-circle: "\e97e";
$op-hexagon: "\e97f";
$op-home: "\e980";
$op-image: "\e981";
$op-inbox: "\e982";
$op-info: "\e983";
$op-instagram: "\e984";
$op-italic: "\e985";
$op-key: "\e986";
$op-layers: "\e987";
$op-layout: "\e988";
$op-life-buoy: "\e989";
$op-link: "\e98a";
$op-link-2: "\e98b";
$op-linkedin: "\e98c";
$op-list: "\e98d";
$op-loader: "\e98e";
$op-lock: "\e98f";
$op-log-in: "\e990";
$op-log-out: "\e991";
$op-mail: "\e992";
$op-map: "\e993";
$op-map-pin: "\e994";
$op-maximize: "\e995";
$op-maximize-2: "\e996";
$op-meh: "\e997";
$op-menu: "\e998";
$op-message-circle: "\e999";
$op-message-square: "\e99a";
$op-mic: "\e99b";
$op-mic-off: "\e99c";
$op-minimize: "\e99d";
$op-minimize-2: "\e99e";
$op-minus: "\e99f";
$op-minus-circle: "\e9a0";
$op-minus-square: "\e9a1";
$op-monitor: "\e9a2";
$op-moon: "\e9a3";
$op-more-horizontal: "\e9a4";
$op-more-vertical: "\e9a5";
$op-mouse-pointer: "\e9a6";
$op-move: "\e9a7";
$op-music: "\e9a8";
$op-navigation: "\e9a9";
$op-navigation-2: "\e9aa";
$op-octagon: "\e9ab";
$op-package: "\e9ac";
$op-paperclip: "\e9ad";
$op-pause: "\e9ae";
$op-pause-circle: "\e9af";
$op-pen-tool: "\e9b0";
$op-percent: "\e9b1";
$op-phone: "\e9b2";
$op-phone-call: "\e9b3";
$op-phone-forwarded: "\e9b4";
$op-phone-incoming: "\e9b5";
$op-phone-missed: "\e9b6";
$op-phone-off: "\e9b7";
$op-phone-outgoing: "\e9b8";
$op-pie-chart: "\e9b9";
$op-play: "\e9ba";
$op-play-circle: "\e9bb";
$op-plus: "\e9bc";
$op-plus-circle: "\e9bd";
$op-plus-square: "\e9be";
$op-pocket: "\e9bf";
$op-power: "\e9c0";
$op-printer: "\e9c1";
$op-radio: "\e9c2";
$op-refresh-ccw: "\e9c3";
$op-refresh-cw: "\e9c4";
$op-repeat: "\e9c5";
$op-rewind: "\e9c6";
$op-rotate-ccw: "\e9c7";
$op-rotate-cw: "\e9c8";
$op-rss: "\e9c9";
$op-save: "\e9ca";
$op-scissors: "\e9cb";
$op-search: "\e9cc";
$op-send: "\e9cd";
$op-server: "\e9ce";
$op-settings: "\e9cf";
$op-share: "\e9d0";
$op-share-2: "\e9d1";
$op-shield: "\e9d2";
$op-shield-off: "\e9d3";
$op-shopping-bag: "\e9d4";
$op-shopping-cart: "\e9d5";
$op-shuffle: "\e9d6";
$op-sidebar: "\e9d7";
$op-skip-back: "\e9d8";
$op-skip-forward: "\e9d9";
$op-slack: "\e9da";
$op-slash: "\e9db";
$op-sliders: "\e9dc";
$op-smartphone: "\e9dd";
$op-smile: "\e9de";
$op-speaker: "\e9df";
$op-square: "\e9e0";
$op-star: "\e9e1";
$op-stop-circle: "\e9e2";
$op-sun: "\e9e3";
$op-sunrise: "\e9e4";
$op-sunset: "\e9e5";
$op-tablet: "\e9e6";
$op-tag: "\e9e7";
$op-target: "\e9e8";
$op-terminal: "\e9e9";
$op-thermometer: "\e9ea";
$op-thumbs-down: "\e9eb";
$op-thumbs-up: "\e9ec";
$op-toggle-left: "\e9ed";
$op-toggle-right: "\e9ee";
$op-tool: "\e9ef";
$op-trash: "\e9f0";
$op-trash-2: "\e9f1";
$op-trello: "\e9f2";
$op-trending-down: "\e9f3";
$op-trending-up: "\e9f4";
$op-triangle: "\e9f5";
$op-truck: "\e9f6";
$op-tv: "\e9f7";
$op-twitch: "\e9f8";
$op-twitter: "\e9f9";
$op-type: "\e9fa";
$op-umbrella: "\e9fb";
$op-underline: "\e9fc";
$op-unlock: "\e9fd";
$op-upload: "\e9fe";
$op-upload-cloud: "\e9ff";
$op-user: "\ea00";
$op-user-check: "\ea01";
$op-user-minus: "\ea02";
$op-user-plus: "\ea03";
$op-user-x: "\ea04";
$op-users: "\ea05";
$op-video: "\ea06";
$op-video-off: "\ea07";
$op-voicemail: "\ea08";
$op-volume: "\ea09";
$op-volume-1: "\ea0a";
$op-volume-2: "\ea0b";
$op-volume-x: "\ea0c";
$op-watch: "\ea0d";
$op-wifi: "\ea0e";
$op-wifi-off: "\ea0f";
$op-wind: "\ea10";
$op-x: "\ea11";
$op-x-circle: "\ea12";
$op-x-octagon: "\ea13";
$op-x-square: "\ea14";
$op-youtube: "\ea15";
$op-zap: "\ea16";
$op-zap-off: "\ea17";
$op-zoom-in: "\ea18";
$op-zoom-out: "\ea19";

